<form>
	Enter firstname<input type="text" ng-model="user.firstname" placeholder="enter firstname"><br> 
	Enter lastname<input type="text"ng-model="user.lastname" placeholder="enter lastname"><br>
	Enter email<input type="text" ng-model="user.email" placeholder="enter email"><br>
	Enter Username<input type="text" ng-model="user.username"placeholder="enter username"><br>
	Enter password<input type="password" ng-model="user.password"><br> 
	Enter role<input type="radio" ng-model="user.role" value="student">Student<br>
	          <input type="radio" ng-model="user.role" value="alumini">Alumini<br>
	          <input type="radio" ng-model="user.role" value="employee">Employee<br>

	<input type="submit" ng-click="register()"><br>
</form>