Update Details
<form>
<input type="text" ng-model="user.firstname" placeholder="Enter firstname"><br>
<input type="text" ng-model="user.lastname" placeholder="Enter lastname"><br>
<input type="text" ng-model="user.email" placeholder="Enter Email"><br>
<input type="text" ng-model="user.username" placeholder="Enter username" disabled="true"><br>
<input type="password" ng-model="user.password" placeholder="Enter password"><br>
<input type="radio" ng-model="user.role" value="Alumini">Alumini
<input type="radio" ng-model="user.role" value="Employee">Employee
<br>
<input type="submit" ng-click="update()"><br>



</form>